params {
     Set_directory = "enrichment_pipeline/data/set_files"
     Set_file = "enrichment_pipeline/data/set_files/MYC2_treatment_up_genes.txt"
     Sets_in_dir = false
     OutDir = "outputs/motif_enrichment"
     Feature_file = "enrichment_pipeline/data/tomato_2up_0down_SL4.0_TFs.txt"
     help = false
}
